@charset "UTF-8";
/**
 * 
 * @authors      Benjamin (cuew1987@gmail.com)
 * @link         https://github.com/benjamin-zuo
 * @date         2016-02-29 14:08:59
 * @description  icon-arrow
 */
@import '/static/helper/css3';

%fm-icon-arrow {
    display: inline-block;
    overflow: hidden;
    width: 10px;
    height: 10px;

    &:before {
        display: block;

        width: 6px;
        height: 6px;
        margin-left: 0;

        content: '';

        border: 2px solid #c8c8c8;
        border-top: 0 none;
        border-left: 0 none;
    }
}

// 上
.fm-icon-arrow-up {
    @extend %fm-icon-arrow;

    &:before {
        margin: 4px 0 0 1px;
        @include transform(rotate(225deg));
    }
}

// 下
.fm-icon-arrow-down {
    @extend %fm-icon-arrow;

    &:before {
        margin-top: -1px;
        margin-left: 1px;
        @include transform(rotate(45deg));
    }
}

// 左
.fm-icon-arrow-left {
    @extend %fm-icon-arrow;

    &:before {
        margin-top: 1px;
        @include transform(rotate(135deg));
    }
}

// 右
.fm-icon-arrow-right {
    @extend %fm-icon-arrow;

    &:before {
        margin-top: 1px;
        -webkit-transform: rotate(315deg);
    }
}