<div class="fm-signature-eg">
    <div class="fm-signature-eg-content">
        <img src="<%=src%>" class="fm-signature-eg-img"> 
        <p class="fm-signature-eg-caption">请在实线框内手写签名</p>
    </div>
</div>