<div class="fm-datepicker" id="datepicker">
	<div class="fm-datepicker-header">
	    <span class="year"></span>年
	    <span class="month"></span>月
	    <a href="javascript:void(0)" class="btn-prev-month" data-action="prevMonth"></a>
	    <a href="javascript:void(0)" class="btn-next-month" data-action="nextMonth"></a>
	</div>
	<div class="fm-datepicker-body">
		<% for(var i = 0, ilen = days.length; i < ilen; i++) { %>
			<td></td>
		<% } %>
	</div>
</div>