@charset 'UTF-8';
/**
 *
 * @authors Benjamin (zuojj.com@gmail.com)
 * @date    2016-10-09 17:00:40
 * @description datetime
 */


.fm-datepicker {
    display: none;

    width: 193px;
    padding: 0 5px 5px;

    color: #bbb;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px #d9d9d9;
       -moz-box-shadow: 0 2px 5px #ddd;
            box-shadow: 0 2px 5px #d9d9d9;

    &-header {
	    line-height: 36px;

	    position: relative;

	    margin: 0 3px 5px;

	    text-align: center;

	    border-bottom: 1px solid #f5f5f5;
	    .btn-prev-month,
	    .btn-next-month {
	        position: absolute;
	        top: 0;

	        width: 24px;
	        height: 35px;

	        background-image: url(../images/ico_san.png);
	        background-repeat: no-repeat;
	    }
	    .btn-prev-month {
	        left: -5px;

	        background-position: 8px -77px;
	        &:hover {
	            background-position: 8px 10px;
	        }
	    }
	    .btn-next-month {
	        right: -5px;

	        background-position: 8px -125px;
	        &:hover {
	            background-position: 8px -32px;
	        }
	    }
    }

	/* body */
    &-body {
	    line-height: 20px;
	    th {
	        font-weight: normal;
	        line-height: 24px;
	    }
	    td {
	        cursor: pointer;
	        text-align: center;

	        color: #afafaf;
	        a {
	            line-height: 18px;

	            display: block;

	            width: 18px;
	            height: 18px;
	            margin: 0 auto;

	            text-decoration: none;

	            color: #666;
	            border: 1px solid #fff;
	            border-radius: 2px;
	        }
	        &.current-month a:hover {
	            color: #fff;
	            border-color: #00a06a;
	            background-color: #00a06a;
	        }
	        &.current a {
	            border-color: #bbb;
	            background-color: #f2f2f2;
	        }
	        &.selected a {
	            color: #fff;
	            border-color: #00a06a;
	            background-color: #00a06a;
	        }
	        &.disabled {
	            cursor: not-allowed;
	            a {
	                cursor: not-allowed;
	                &:hover {
	                    cursor: not-allowed;

	                    color: #666;
	                    border-color: #fff;
	                    background-color: #fff;
	                }
	            }
	        }
	    }
    }
}