<div class="fm-toast">
    <div class="fm-toast-body">
        <% if(type !== 'none') {%>
            <span class="fm-toast-icon icon-toast-<%=type%>"></span>
        <% } %>
        <% if(content) {%>
            <span><%=content%></span>
        <% } %>
    </div>
</div>