<div class="fm-list">
    <div class="fm-list-body">
        <a href="/" class="fm-list-item">
            <div class="fm-list-content">首页</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
    </div>
    <div class="fm-list-header">组件集合<span style="color:red">(新增组件请注意字母排序)</span></div>
    <div class="fm-list-body">
        <a href="/actionsheet" class="fm-list-item">
            <div class="fm-list-content">ActionSheet 上拉列表</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="/button" class="fm-list-item">
            <div class="fm-list-content">Button 按钮</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="/checkbox" class="fm-list-item">
            <div class="fm-list-content">Checkbox 单复选框</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="/cityselect" class="fm-list-item">
            <div class="fm-list-content">CitySelect 三级联动</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="/countdown" class="fm-list-item">
            <div class="fm-list-content">Countdown 倒计时</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="/datepicker" class="fm-list-item">
            <div class="fm-list-content">Datepicker 日期控件</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="/dialog" class="fm-list-item">
            <div class="fm-list-content">Dialog 弹窗</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="/flexbox" class="fm-list-item">
            <div class="fm-list-content">Flexbox 伸缩盒</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="/form" class="fm-list-item">
            <div class="fm-list-content">Form 表单</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="/list" class="fm-list-item">
            <div class="fm-list-content">List 列表</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="/notice" class="fm-list-item">
            <div class="fm-list-content">Notice 顶部提示</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="/search" class="fm-list-item">
            <div class="fm-list-content">Search 搜索框</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="/slider" class="fm-list-item">
            <div class="fm-list-content">Slider 幻灯片</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="/switch" class="fm-list-item">
            <div class="fm-list-content">Switch 滑动开关</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="/tab" class="fm-list-item">
            <div class="fm-list-content">Tab 列表</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="/toast" class="fm-list-item">
            <div class="fm-list-content">Toast 提示</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
    </div>

    <div class="fm-list-footer">文本说明文本说明</div>
</div>
