@charset "UTF-8";
/**
 * 
 * @authors      Benjamin (cuew1987@gmail.com)
 * @link         https://github.com/benjamin-zuo
 * @date         2016-03-03 19:52:59
 * @description  
 * @version      $Id$
 */


.fm-checkbox-headeer {
    font-size: 12px;

    margin: 10px 15px 0;
    padding-bottom: 8px;

    color: #a5a5a5;
}