<div class="fm-list">
    <div class="fm-list-header">单行列表</div>
    <div class="fm-list-body">
        <a href="#" class="fm-list-item">
            <div class="fm-list-content">文本内容</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="#" class="fm-list-item">
            <div class="fm-list-content">文本内容</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>

    </div>
    <div class="fm-list-footer">文本说明文本说明</div>
</div>

<div class="fm-list">
    <div class="fm-list-header">单行组合</div>
    <div class="fm-list-body">
        <a href="#" class="fm-list-item">
            <div class="fm-list-content">文本内容</div>
            <div class="fm-list-extra">内容内容</div>
        </a>
        <a href="#" class="fm-list-item">
            <div class="fm-list-content">文本内容</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="#" class="fm-list-item">
            <div class="fm-list-content">文本内容</div>
            <div class="fm-list-extra">内容内容</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
    </div>
    <div class="fm-list-footer">文本说明文本说明</div>
</div>


<div class="fm-list fm-list-icon24">
    <div class="fm-list-header">单行icon=24px</div>
    <div class="fm-list-body">
        <a href="#" class="fm-list-item">
            <div class="fm-list-icon">
                <img src="/static/img/list/lin.png" width="24" height="24">
            </div>
            <div class="fm-list-content">文本内容</div>
            <div class="fm-list-extra">内容内容</div>
        </a>
        <a href="#" class="fm-list-item">
            <div class="fm-list-icon">
                <img src="/static/img/list/lin.png" width="24" height="24">
            </div>
            <div class="fm-list-content">文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-down"></span>
            </div>
        </a>
        <a href="#" class="fm-list-item">
            <div class="fm-list-icon">
                <img src="/static/img/list/lin.png" width="24" height="24">
            </div>
            <div class="fm-list-content">文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-up"></span>
            </div>
        </a>
        <a href="#" class="fm-list-item">
            <div class="fm-list-icon">
                <img src="/static/img/list/lin.png" width="24" height="24">
            </div>
            <div class="fm-list-content">文本内容</div>
            <div class="fm-list-extra">内容内容</div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
    </div>
    <div class="fm-list-footer">文本说明文本说明</div>
</div>

<div class="fm-list fm-list-multi">
    <div class="fm-list-header">双行组合</div>
    <div class="fm-list-body">
        <a href="#" class="fm-list-item">
            <div class="fm-list-content">
                <div class="fm-list-title">标题</div>
                <div class="fm-list-brief">简介描述</div>
            </div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="#" class="fm-list-item">
            <div class="fm-list-content">
                <div class="fm-list-title">标题</div>
                <div class="fm-list-brief">简介描述</div>
            </div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
    </div>
    <div class="fm-list-footer">文本说明文本说明</div>
</div>

<div class="fm-list fm-list-multi-thumb">
    <div class="fm-list-header">双行组合</div>
    <div class="fm-list-body">
        <a href="#" class="fm-list-item">
            <div class="fm-list-thumb">
                <img src="/static/img/list/lin.png" width="42" height="42">
            </div>
            <div class="fm-list-content">
                <div class="fm-list-title">标题</div>
                <div class="fm-list-brief">简介描述</div>
            </div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
        <a href="#" class="fm-list-item">
            <div class="fm-list-thumb">
                <img src="/static/img/list/lin.png" width="42" height="42">
            </div>
            <div class="fm-list-content">
                <div class="fm-list-title">标题</div>
                <div class="fm-list-brief">简介描述</div>
            </div>
            <div class="fm-list-arrow">
                <span class="fm-icon-arrow-right"></span>
            </div>
        </a>
    </div>
    <div class="fm-list-footer">文本说明文本说明</div>
</div>