@charset "UTF-8";
/**
 * 
 * @authors      Benjamin (cuew1987@gmail.com)
 * @link         https://github.com/benjamin-zuo
 * @date         2016-03-04 13:52:39
 * @description  notice 顶部提示
 */

@import '../../helper/css3';
@import '../../helper/mixin';

.fm-notice {
    @include display-flex();

    height: 20px;
    line-height: 20px;

    font-size: 12px;
    color: #fff;
    background-color: #ff9600;

    // 内容
    &-content {
        @include flex(1);

        padding: 0 14px;
        text-align: center;

        @include ellipsis();
    }

    // close
    &-operation {
        padding: 0 15px;
        color: #f85800;
        &-close {
            display: inline-block;
            width: 12px;
            height: 1px;
            vertical-align: middle;
            background-color: currentColor;
            @include rotate(45deg);
            
            &:after {
                content: "";
                width: 12px;
                height: 1px;
                display: block;
                background-color: currentColor;
                @include rotate(90deg);
            }
        }

        &-linkto {
            color: #f85800;
            &:after {
                content: "";
                display: inline-block;
                width: 6px;
                height: 6px;
                border-top: 1px solid currentColor;
                border-right: 1px solid currentColor;
                margin: 0 2px 1px 6px;
                @include rotate(45deg);
            }
        }
    }
}