@charset "UTF-8";
/**
 * 
 * @authors      Benjamin (cuew1987@gmail.com)
 * @link         https://github.com/benjamin-zuo
 * @date         2016-06-06 21:22:46
 * @description  
 * @version      $Id$
 */

$borderColor: #fce5b8;
$backgroundColor: #fcf9ec;

.fm-tooltip {
    position: absolute;
    width: 100%;
    padding: 0 14px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    left: 0;
    top: 38px;
    z-index: 1;

    &-content {
        border: 1px solid #fce5b8;
        background-color: #fcf9ec;
        color: #ff8e33;
        font-size: 12px;
        text-align: center;
        line-height: 24px; 
    }

    &-arrow {
        position: absolute;
        width: 4px;
        height: 4px;
        top: -2px;
        border-left: 1px solid #fce5b8;
        border-top: 1px solid #fce5b8;
        transform: rotate(45deg);
        background-color: #fcf9ec;
    }
}