@charset 'UTF-8';
/**
 * 
 * @authors      Benjamin (cuew1987@gmail.com)
 * @link         https://github.com/benjamin-zuo
 * @date         2016-03-24 14:05:12
 * @description  Dialog 弹窗组件
 */


@import '../../helper/css3';

.fm-dialog {
    position: fixed;
    z-index: 1000;
    top: 45%;
    left: 50%;
    z-index: 101;

    width: 80%;
    margin-top: -100px;
    margin-left: -40%;

    border-radius: 8px;
    background-color: #fff;
    /* 头部 */
    &-header {
        padding-top: 10px;
        .fm-dialog-title {
            font-weight: 700;
            line-height: 20px;

            padding: 10px 10px 0;

            text-align: center;

            color: #000;
        }
    }
    /* body */
    &-body {
        overflow: auto;

        min-height: 48px;
        max-height: 160px;
        padding: 10px;

        text-align: center;
        word-break: break-all;
    }
    /* 尾部 */
    &-footer {
        border-top: 1px solid #f4f4f4;

        @include display-flex();
        .fm-dialog-button {
            line-height: 44px;

            display: block;

            width: 100%;
            height: 44px;

            text-align: center;

            color: #fc522f;

            @include flex(1);
            &:not(:first-child) {
                border-left: 1px solid #f4f4f4;
            }
            &:active {
                background-color: #f4f4f4;
            }
        }
    }
}
