@charset "UTF-8";
/**
 * 
 * @authors      Benjamin (cuew1987@gmail.com)
 * @link         https://github.com/benjamin-zuo
 * @date         2016-03-16 16:25:30
 * @description  Switch 滑动开关
 */

@import '../../helper/css3';

.fm-switch {
    display: inline-block;
    height: 28px;
    overflow: hidden;

    &-checkbox {
        position: absolute;
        clip: rect(0,0,0,0); 
    }

    &-label {
        display: inline-block;
        width: 48px;
        height: 24px;
        overflow: hidden;
        line-height: 1;
        border: 2px solid;
        border-radius: 28px;
        background-color: currentColor;
        color: #b5b5b5;
        
        &:before {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 24px;
            margin-left: 0;
            background-color: #fff;
            @include transition(margin-left ease-in .15s);
        }
    }

    :checked+.fm-switch-label {
        color: #f7b033;
        &:before {
            margin-left: 24px;
        }
    }

    :disabled+.fm-switch-label {
        color: #ccc;
        &:before {
            background-color: #efefef;
        }
    }
}