<div class="fm-flexbox">
    <div class="fm-flexbox-item">
        <button type="button" class="fm-button blue" id="btn-click-1">ActionSheet上拉列表(方式一)</button>
    </div>
</div>
<div class="fm-flexbox">
    <div class="fm-flexbox-item">
        <button type="button" class="fm-button blue" id="btn-click-2">ActionSheet上拉列表(方式二)</button>
    </div>
</div>
#script()
    require(['./actionsheet'])
#end




