<div class="fm-cityselect">
    <div class="fm-cityselect-header">
        <div class="fm-list-arrow arrow-left">
            <i class="fm-icon-arrow-left"></i>
        </div>
        <div class="title">选择<%=title%></div>
        <div class="btn-cancel">取消</div>
    </div>
    <ul class="fm-list fm-cityselect-content"></ul>
</div>

