@charset 'UTF-8';
@import '/static/helper/mixin';
@import '/static/helper/function';
@import '/static/helper/css3';

.fm-cityselect {
    position: fixed;
    z-index: 200;
    top: 100%;
    left: 0;
    z-index: 101;

    overflow: hidden;

    width: 100%;
    max-height: 80%;

    background-color: #fff;

    -webkit-overflow-scrolling: touch;
    &[data-mode=province] {
        .arrow-left {
            visibility: hidden;
        }
    }
    /* 标题 */
    &-header {
        line-height: 24px;

        height: 24px;
        padding: 10px 14px;

        background-color: #f6f6f6;

        @include display-flex();
        .arrow-left {
            width: 44px;
            padding-top: 2px;
            .fm-icon-arrow-left {
                width: 16px;
                height: 15px;
                &:before {
                    width: 16px;
                    height: 15px;
                    margin: -1px 0 0 4px;

                    border-color: #555;
                }
            }
        }
        .title {
            text-align: center;

            @include flex(1);
        }
        .btn-cancel {
            width: 44px;

            text-align: right;

            color: #37acf4;
        }
    }
    &-title {
        text-align: center;
    }
    &-content {
        overflow: auto;
        li {
            &.pcd-selected {
                &:after {
                    position: absolute;
                    right: 14px;

                    width: 10px;
                    height: 6px;
                    margin-top: 6px;

                    content: '';

                    border: 1px solid #19b39c;
                    border-top: 0 none;
                    border-right: 0 none;

                    @include transform(rotate(-45deg));
                }
            }
        }
    }
    &-placeholder {
        color: #a9a9a9;
    }
}
