@charset "UTF-8";
/**
 * 
 * @authors      Benjamin (cuew1987@gmail.com)
 * @link         https://github.com/benjamin-zuo
 * @date         2016-03-04 12:43:53
 * @description  Search 组件
 */


@import '../../helper/css3';

.fm-search {
    @include display-flex();

    padding: 7px 8px;

    background: -webkit-gradient(linear,left top,left bottom,from(#d9d9e1),color-stop(0.5,#d9d9e1),color-stop(0.5,transparent)) bottom left no-repeat,#efeff4;
    background: -webkit-linear-gradient(270deg,#d9d9e1,#d9d9e1,#d9d9e1) bottom left no-repeat,#efeff4;
    background: linear-gradient(180deg,#d9d9e1,#d9d9e1,#d9d9e1) bottom left no-repeat,#efeff4;
    -webkit-background-size: 100% 1px;


    // 输入框
    &-input {

        @include display-flex();

        @include flex(1);

        @include align-items(center);

        background-color: #fff;
        border-radius: 5px;

        height: 30px;
        line-height: 30px;
        
        // input
        .fm-search-text {
            display: block;
            
            @include flex(1);

            font-size: 15px;
            padding-left: 5px;
        }

        // icon-clear
        .fm-search-clear {
            margin-right: 5px; 
        }
    }

    // 取消按钮
    &-btn {
        display: none;
        min-width: 35px;
        margin-left: 10px;
        text-align: center;
        height: 30px;
        line-height: 30px;
    }
}