@charset "UTF-8";
/**
 * 
 * @authors Benjamin (cuew1987@gmail.com)
 * @link    https://github.com/benjamin-zuo
 * @date    2016-02-26 16:14:38
 * @description List列表：单行列表、双行列表、Thumb(42px)列表、icon(24px)列表
 * @version $Id$
 */


@import '../../helper/css3';
@import '../../helper/mixin';

// ======================== 单行List ======================================
.fm-list {
    // header
    &-header {
        font-size: 12px;

        padding: 10px 14px 8px;
        color: #a5a5a5;
    }

    // body
    &-body {
        background-color: #fff;
    }

    // footer
    &-footer {
        font-size: 12px;

        padding: 8px 14px;

        color: #999;
    }

    // 列表项
    &-item {
        position: relative;

        margin-top: -1px;
        padding: 13px 14px;

        text-align: left;
        vertical-align: middle;

        color: #333;

        /**
         * 配置4个背景颜色的作用是前两个背景作为multi/icon list 边框偏移使用
         * 0deg将创建一个左到右横向梯度
         * 90deg将创建一个从底部到顶部的垂直渐变
         */
        background: 
        -webkit-gradient(linear,left top,left bottom,from(#fff),color-stop(.5,#fff),color-stop(.5,transparent)) top left no-repeat,
        -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff)) bottom left no-repeat,
        -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),color-stop(.5,#f6f6f6),color-stop(.5,transparent)) top left no-repeat,
        -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f6f6f6)) bottom left no-repeat,#fff;

        background: 
        -webkit-linear-gradient(90deg,#fff,#fff) top left no-repeat,
        -webkit-linear-gradient(270deg,#fff,#fff) bottom left no-repeat,
        -webkit-linear-gradient(90deg,#f6f6f6,#f6f6f6,rgba(229,229,229,0)) top left no-repeat,
        -webkit-linear-gradient(270deg,#f6f6f6,#f6f6f6,rgba(229,229,229,0)) bottom left no-repeat,#fff;

        background: 
        linear-gradient(0deg,#fff,#fff) top left no-repeat,
        linear-gradient(180deg,#fff,#fff) bottom left no-repeat,
        linear-gradient(0deg,#f6f6f6,#f6f6f6,rgba(229,229,229,0)) top left no-repeat,
        linear-gradient(180deg,#f6f6f6,#f6f6f6,rgba(229,229,229,0)) bottom left no-repeat,#fff;

        -webkit-background-size: 0 0,0 0,100% 1px,100% 1px;

        @include display-flex();
        @include align-items(center);

        .fm-list-icon {
            margin-right: 15px;
            width: 24px;
            height: 24px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }

        .fm-list-content {
            width: auto;
            min-width: 60px;
            // 此处设置color是为了兼容当.fm-list-item挂载到a元素上时，点击之后，再返回，发现QQ浏览器a链接的文本变色的问题
            color: #333;

            @include ellipsis();

            @include flex(1);

            @include align-self(center);
        }

        .fm-list-extra {
            @include flex(1);
            font-size: 14px;
            color: #999;
            width: auto;
            min-width: 60px;
            
            @include ellipsis();

            text-align: right;
            padding-right: 4px;
            line-height: 24px;

            @include align-self(center);
        }

        .fm-list-title {
            width: auto;
            @include ellipsis();
        }

        .fm-list-brief {
            color: #999;
            font-size: 13px;
            line-height: 15px;
            margin-top: 2px;
            width: auto;
            @include ellipsis();
        }

        .fm-list-thumb {
            margin-right: 10px;

            img {
                width: 42px;
                height: 42px;
                vertical-align: middle;
            }
        }

        /* Arrow 箭头 */
        .fm-list-arrow {
            width: 24px;
            height: 24px;
            overflow: hidden;

            /**
             * 此处垂直居中亦可使用align-self
             * @include align-self(center);
             * 但是multi-thumb列表中右侧icon-arrow在微信浏览器测试无法垂直居中，
             * align-self没有生效,
             * 此处采用margin-top来使icon-arrow在multi-thumb也垂直居中，再下方设置
             */
            text-align: center;
        }

        .fm-list-clear {
            width: 12px;
            padding: 6px;
        }

        // Form 表单
        .fm-list-label {
            color: #333;
            min-width: 96px;
        }

        .fm-list-tip {
            // 此处和fm-list-arrow等宽
            width: 24px;
            min-width: 24px;
            text-align: center;
            color: #999;
            font-size: 14px;
            line-height: 24px;
        }
        .fm-list-areacode {
            width: 40px;
            min-width: 40px;
            input {
                font-size: 14px;
                width: 100%;
                height: 24px;
                line-height: 24px;
            }
        }
        .fm-list-control {
            @include flex(1);
            font-size: 14px;
            line-height: 24px;

            input,
            select,
            textarea,
            button {
                font-size: 14px;
                line-height: 24px;
                width: 100%;
                height: 24px;
            }
            
            /**
             *  select placeholder 颜色 和input placeholder颜色一致
             *  通过addClass('selected')控制选中颜色
            */
            select {
                color: #bdbdbd;
                padding-left: 0px;
                font-weight: normal;
                &.selected {
                    color: #333;
                }
            }
            /**
             * 手机端此处可以不加
            .placeholder option {
                color: #333;
            }
            .placeholder option:first-child {
                color: #999;
            }
            */
        }

        /* 校验码 */
        .fm-list-captcha {
            width: 84px;
            height: 24px;
            overflow: hidden;
            margin-left: 4px;
            text-align: center;

            /* 短信校验码 */
            .captcha-sms {
                width: 80px;
                height: 24px;
                line-height: 24px;
                color: #ff552e;
                font-size: 12px;

                &[disabled],
                &.disabled {
                    color: #e6e6e6;
                }

                &.img-loading {
                    width: 68px;
                    vertical-align: top;
                }
            }
            
            /* 图形校验码 */
            .captcha-img {
                display: block;
                width: 68px;
                height: 24px;
                margin: 0 auto;
            }

            &:before {
                float: left;
                content: "";
                width: 1px;
                height: 24px;
                background-color: #ddd;
            }
        }

        /* Checkbox */
        &.fm-list-item-checkbox {
            padding-right: 60px;
        }

        /* Select 处理 */
        &.fm-list-item-combobox {
            .fm-list-arrow {
                position: absolute;
                top: 50%;
                margin-top: -12px;
                right: 14px;
                pointer-events: none;
            }
        }
    }

    // list icon=24px
    &-icon24 {
        .fm-list-item {
            -webkit-background-size: 52px 1px,52px 1px,100% 1px,100% 1px;
        } 
    }

    // 双行组合（普通）
    &-multi {

    }

    // 双行组合 thumb=42px
    &-multi-thumb {
        .fm-list-item {
            -webkit-background-size: 15px 1px,15px 1px,100% 1px,100% 1px;
        } 
    }
}

.fm-list a.fm-list-item {
    &:active {
        background-color: #e4e4e4;
    }
}

/* Clear 清除*/
.fm-input-autoclear {
    .fm-icon-clear {
        visibility: visible;
    }
}



