<!DOCTYPE html>
#html('/static/mod.js')
    #head()
        <meta charset="utf-8">
        <meta name="keywords" content="fis3">
        <meta name="description" content="fis3">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
        <title>FMUI-#if($title) $title #else demo #end</title>
        #require("fmui:static/fmui.scss")
        <link rel="stylesheet" href="/static/common.scss">
    #end

    #body()
        <div id="container">
            #block("body_content")
                This is main section
            #end
        </div>
    #end

#end
